*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all .2s linear;
}
body{
    background-color: #222;
}
.header
{
    width:100%;
   
}

.nav1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    height: 70px;
}
.logo {
    width:175px;
     height: 120px;
     cursor: pointer;
     background-color:transparent;
     object-fit: contain;
}
.nav1 ul  {
    flex: 1;
    text-align: center;
}
.nav1 ul li{
    display:inline-block;
    margin: 10px 20px;
}
.nav1 ul li a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 0.5s;
}
 .nav1 .active, .nav1 a:hover{
    color:black;
    background: white;
}
#nohov .active, #nohov:hover{
    background:none;
}
.gallery{
    min-height: 100vh;
    padding-bottom: 100px;
}
.gallery .controls{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}
.gallery .controls .buttons{
    height: 40px;
    width: 140px;
    background: white;
    color: #666;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin :20px;
    padding-top: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    text-align: center;
    text-transform: uppercase;
}
.gallery .controls .buttons.active{
    background: black;
    color: white;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .image-container .image{
height:250px;
width: 350px;
overflow: hidden;
border: 15px solid black;
border-radius: 3px;
box-shadow: 0 3px 5px rbga(0,0,0,0.3);
margin: 20px;
}
.gallery .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
